"*":
  "atom-clock":
    dateFormat: "h:mm"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use:
      "atom-ide-diagnostics-ui": false
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "emmet"
      "antialiased"
      "linter-eslint"
      "language-gfm"
      "ide-crystal"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "venv"
    ]
    projectHome: "~/Projects/atom"
    telemetryConsent: "limited"
    themes: [
      "isotope-ui"
      "shellectric-syntax"
    ]
    titleBar: "custom"
  "custom-title":
    template: "atom"
  editor:
    fontFamily: "Brass Mono"
    fontSize: 11
    invisibles: {}
    lineHeight: 1.2
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "e3466ace-9f17-9540-85cd-ae3328f7078b"
  "file-icons": {}
  "file-types":
    cfg: "source.shell"
    env: "source.shell"
    motd: "source.shell"
    txt: "text.md"
  "git-diff": {}
  "ide-crystal":
    compilerColorOutput: true
  "ide-python":
    pylsPlugins:
      mccabe:
        enabled: false
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyflakes:
        enabled: false
      yapf:
        enabled: false
  "isotope-ui":
    customBackgroundColor: true
    customBackgroundColorPicker: "#393e45"
    fontFamily: "Ubuntu"
    lowContrastTooltip: true
    matchEditorFont: true
    minimalMode: true
    tabSizing: "Minimum"
  "letter-spacing":
    "letter-spacing": 0.4
  "line-count-status":
    format: "%s"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "501"
    ]
    projectConfigFile: [
      "setup.cfg"
    ]
  "linter-pep8":
    ignoreErrorCodes: [
      "E501"
      "E241"
    ]
    maxLineLength: 120
  "linter-sass-lint":
    configFile: ".scss-lint.yml"
  "linter-ui-default": {}
  "markdown-preview": {}
  minimap:
    minimapScrollIndicator: false
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "nord-atom-ui":
    tabSizing: false
  pigments:
    extendedSearchNames: [
      "**/*.css"
      "**/*.sass"
      "**/*.less"
    ]
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.basic"
      "source.dtml"
      "text.xml"
      "string.quoted.double.single-line.python"
    ]
    knownWords: [
      "trogdor burninate"
    ]
    locales: [
      "en-US"
    ]
  "splash-ui":
    useSplash: true
    useSyntax: true
  "status-bar":
    selectionCountFormat: " "
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
".basic.html.text":
  editor:
    tabLength: 4
".django.html.text":
  editor:
    tabLength: 4
".python.regexp.source":
  editor:
    preferredLineLength: 12
".python.source":
  editor:
    preferredLineLength: 120
