"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    crystal:
      beautify_on_save: true
    html: {}
    js:
      default_beautifier: "Prettier"
  "atom-clock":
    dateFormat: "h:mm"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    "debugger-exceptionBreakpointsCollapsed": true
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "linter-eslint"
      "language-gfm"
      "ide-crystal"
      "language-python"
      "python-autopep8"
      "autoclose-html"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "venv"
    ]
    projectHome: "~/Projects/atom"
    telemetryConsent: "limited"
    themes: [
      "isotope-ui"
      "shellectric-syntax"
    ]
    titleBar: "custom"
  "custom-title":
    template: "atom"
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates"
    ]
  editor:
    fontFamily: "Brass Mono"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 79
    softWrap: true
    tabType: "soft"
  elmjutsu:
    cacheDirectory: "/var/folders/lb/hjrrc3057bd63s55q5k1ssxw0002p1/T/elmjutsu37716c9DCI6Hbrczg"
  "exception-reporting":
    userId: "e3466ace-9f17-9540-85cd-ae3328f7078b"
  "file-icons": {}
  "file-types":
    cfg: "source.shell"
    dtml: "text.html.django"
    env: "source.shell"
    motd: "source.shell"
    txt: "text.md"
  "git-diff": {}
  "ide-crystal":
    compilerColorOutput: true
  "ide-python":
    pylsPlugins:
      mccabe:
        enabled: false
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyflakes:
        enabled: false
      rope_completion:
        enabled: true
      yapf: {}
    python: "/usr/local/bin/python3"
  "isotope-ui":
    customBackgroundColor: true
    customBackgroundColorPicker: "#393e45"
    lowContrastTooltip: true
    matchEditorFont: true
    minimalMode: true
    tabSizing: "Minimum"
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      "env.example"
      "env.test"
      "env.local"
      "env.production"
    ]
  "language-elm":
    autocompleteEnabled: false
  "letter-spacing":
    "letter-spacing": 0.4
  "line-count-status":
    format: "%s"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "501"
    ]
    projectConfigFile: [
      "setup.cfg"
    ]
  "linter-mypy":
    disallowAnyExpr: false
    disallowAnyUnimported: false
    disallowSubclassingAny: false
    followImports: "skip"
    warnIncompleteStub: false
  "linter-pep8":
    ignoreErrorCodes: [
      "E501"
      "E241"
    ]
    maxLineLength: 79
  "linter-sass-lint":
    configFile: ".scss-lint.yml"
  "linter-ui-default": {}
  "markdown-preview": {}
  minimap:
    minimapScrollIndicator: false
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  "nord-atom-ui":
    tabSizing: false
  pigments:
    extendedSearchNames: [
      "**/*.css"
      "**/*.sass"
      "**/*.scss"
      "**/*.less"
    ]
  "prettier-atom":
    formatOnSaveOptions:
      excludedGlobs: [
        "*.txt"
        "*.yaml"
        "*.yml"
      ]
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    useEslint: true
    useStylelint: true
  "python-autopep8":
    formatOnSave: true
  "python-yapf": {}
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.html.basic"
      "source.dtml"
      "text.xml"
      "string.quoted.double.single-line.python"
    ]
    knownWords: [
      "trogdor burninate"
    ]
    locales: [
      "en-US"
    ]
  "splash-ui":
    useSplash: true
    useSyntax: true
  "status-bar": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".basic.html.text":
  editor:
    tabLength: 4
".django.html.text":
  editor:
    tabLength: 4
".django.python.source":
  editor:
    preferredLineLength: 120
".elm.source":
  editor:
    tabLength: 4
".jinja.python.source":
  editor:
    preferredLineLength: 120
".python.regexp.source":
  editor:
    autoIndentOnPaste: true
