/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;\
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  // border-color: red;
}

@camel: #f1e2bf;
@very-light-gray: #c5c8c6;
@light-gray: #94a1a8;
@gray: #7e898e;
@dark-gray: #51595e;
@very-dark-gray: #464d51;

@cyan: #65c6ba;
@blue: #749bcd;
@purple: #bf94c3;
@green: #80b7a0;
@red: #f6819e;
@orange: #f9997e;
@light-orange: #f6c693;

// Red
@medium-red: @red;
@light-red: @red;
@dark-red:   @red;

// Green
@medium-green: @green;
@light-green: @green;
@dark-green:   @green;

// Yellow
@medium-yellow: @light-orange;
@light-yellow: @light-orange;
@dark-yellow:   @light-orange;

// Blue
@medium-blue: @blue;
@light-blue: @blue;
@dark-blue:   @blue;

// Maroon
@medium-maroon: @purple;
@light-maroon: @purple;
@dark-maroon:   @purple;

// Purple
@medium-purple: @purple;
@light-purple: @purple;
@dark-purple:   @purple;

// Orange
@medium-orange: @orange;
@light-orange: @orange;
@dark-orange:   @orange;

// Cyan
@medium-cyan: @cyan;
@light-cyan: @cyan;
@dark-cyan:   @cyan;

// Pink
@medium-pink: @red;
@light-pink: @red;
@dark-pink:   @red;